
body {
  font-family: monospace;
  font-size: 3rem;
}

.Block {
  display: inline-block;
}

.LetterGrid {
}
.Clock {
  font-size: 0.5em;
  text-align: center;
  width: 100%;
  background: WhiteSmoke;
}
.Clock--alert {
  background: red;
  color: white;
}
.Answers {
  font-size: 0.5em;
  list-style: none;
}
.Answers li {
  display: inline-block;
  width: 8em;
}


.Typewritter-cursor {
  color: gray;
  margin: -0.1em;
}

.u-widthHalf {
  width: 0.5em;
}
.u-width1 {
  width: 1em;
}
.u-width2 {
  width: 2em;
}
.u-width3 {
  width: 3em;
}
.u-width4 {
  width: 4em;
}
.u-height1 {
  height: 1em;
}
.u-height2 {
  height: 2em;
}
.u-height3 {
  height: 3em;
}
.u-height4 {
  height: 4em;
}

.u-hidden {
  visibility: hidden;
}
.u-fixedTop {
  top: 0;
  position: fixed;
  width: 100%;
}
.u-fixedBottom {
  bottom: 0;
  position: fixed;
  width: 100%;
}
.u-clockHeightMargin {
  margin-top: 1rem;
}
.u-gridWidthMargin {
  margin-left: 10rem;
}
